.browse-dialog { color: black; background-color: white; border: 2px solid #444; }

.browse-dialog.ui-dialog .ui-dialog-titlebar { position: relative; cursor: move; height: 30px; background-color: #ccc; border: 1px solid #999; white-space: nowrap; padding: 0; }
.browse-dialog.ui-dialog .ui-dialog-title { margin: 0 0 0 1em; line-height: 30px; padding: 0; color: #333; }
