body .ui-dialog {
  padding: 0;
}

body .ui-dialog .ui-dialog-titlebar,
.upload-dialog.ui-dialog .ui-dialog-titlebar,
.browse-dialog.ui-dialog .ui-dialog-titlebar {
  position: relative;
  cursor: move;
  background: #ccc;
  border: 1px solid #999;
  white-space: nowrap;
  padding: 0;
}

body .ui-dialog .ui-dialog-title,
.upload-dialog.ui-dialog .ui-dialog-title,
.browse-dialog.ui-dialog .ui-dialog-title {
  margin: 0 0 0 15px;
  padding: 0;
  color: #333;
}

body .ui-dialog .ui-dialog-content {
  padding: 15px;
}

iframe {
  border: none;
}

.player-dialog.ui-dialog .ui-dialog-content {
  overflow: hidden;
}

.video-js {
  float: left;
  margin: 0;
}

.vjs-playlist {
  width: 230px;
  float: left;
  margin: 0;
}

.region-content ol.vjs-playlist {
  margin: 0;
  min-width: 230px;
}

.field-type-brightcove-field .field-label {
  clear: both;
}
